applescript==2021.2.9
casparser==0.5.4
casparser-isin==2022.2.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
commonmark==0.9.1
cryptography==36.0.1
et-xmlfile==1.1.0
idna==3.3
numpy==1.22.3
openpyxl==3.0.9
packaging==21.3
pdfminer==20191125
pdfminer.six==20211012
pdfminer2==20151206
pdfminer3k==1.3.4
ply==3.11
psycopg2==2.9.3
pycparser==2.21
pycryptodome==3.14.1
Pygments==2.11.2
pyparsing==3.0.7
PyPDF2==1.26.0
python-dateutil==2.8.2
rapidfuzz==1.9.1
requests==2.27.1
rich==11.2.0
six==1.16.0
typing_extensions==4.1.1
urllib3==1.26.8
XlsxWriter==3.0.3
xlwt==1.3.0
